body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: grey;
  flex-direction: column;
}

#scores {
  font-family:'Ubuntu';
  font-size: 5vh;
  display: flex;
  width: 100vw;
  justify-content:space-around;
  margin-bottom: 5vh;
}

canvas {
  border: 2px solid black;
}
