/* font-family: 'Press Start 2P', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive, sans-serif;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: grey;
}

.scores {
  width: 1000px;
  /*container*/
  display: flex;
  flex-direction: column;
  flex-basis: 15vh;
  text-shadow: 2px 2px 2px crimson;
}

.scores div {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.scores div p {
  width: 50%;
  text-align: center;
  text-transform: uppercase;
}

.scores div:nth-of-type(1) {
  font-size: 30px;
}

.scores div:nth-of-type(2) {
  font-size: 25px;
}

.counter {
  position: absolute;
  top: calc(15vh + 250px);
  left: 50%;
  height: 200px;
  width: 200px;
  transform: translate(-50%, -50%);
  color: goldenrod;
  text-shadow: 4px 4px 2px black;
}

.counter span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

@keyframes counting {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  50.01% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.three {
  animation: counting 2s linear;
  font-size: 300px;
}

.two {
  animation: counting 2s 1s linear;
  font-size: 200px;
  ;
}

.one {
  animation: counting 2s 2s linear;
  font-size: 100px;
}

canvas {
  border: 2px solid black;
  margin-bottom: 20px;
}

.info {
  flex-basis: 15vh;
  line-height: 15vh;
  font-size: 22px;
  text-shadow: 2px 2px 2px crimson;
  text-transform: uppercase;
}